
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
	<title>Giriş Yap</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		  content="Merged Forms Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- //Meta tag Keywords -->
	<link rel="stylesheet" href="~/merged-forms-web_Free05-10-2019_628783826/web/css/login.css" type="text/css" media="all" /><!-- Style-CSS -->
</head>
<body>
	<!-- /form-26-section -->
	<section class="form-26">
		<div class="form-26-mian">
			<div class="layer">
				<div class="wrapper">
					<div class="form-inner-cont">
						<div class="forms-26-info">
							<h2>Giriş Yap</h2>
							<p>Eğitimin ışığında aydınlık bir gelecek inşa edin!</p>
						</div>

						<div class="form-right-inf">
							@RenderBody()

						</div>
						<div class="copyright text-center">
							
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- //form-26-section -->
</body>
</html>


