@{
    Layout = "~/Views/Shared/Vitrin/_VitrinLayout.cshtml";
}

<!-- about breadcrumb -->
<section class="w3l-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container pt-lg-5 pt-3 p-lg-4 pb-3">
            <h2 class="title mt-5 pt-lg-5 pt-sm-3">Hakkımızda</h2>
            <ul class="breadcrumbs-custom-path pb-sm-5 pb-4 mt-2 text-center mb-5">
                <li><a href="/VitrinHome/Index/">Anasayfa</a></li>
                <li class="active"> / Hakkımızda </li>
            </ul>
        </div>
    </div>
    <div class="waveWrapper waveAnimation">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none">
            <path d="M-5.07,73.52 C149.99,150.00 299.66,-102.13 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none;"></path>
        </svg>
    </div>
</section>
<!-- //about breadcrumb -->
<section id="about" class="home-services pt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-graduation-cap"></span>
                        </div>
                        <div class="info">
                            <p></p>
                            <h4><a href="#url">Misyon</a></h4>
                        </div>
                    </div>
                    <p class="mt-4">
                        Yüksek kaliteli ve güvenilir çevrimiçi kursları erişilebilir kılarak insanların öğrenme süreçlerini kolaylaştırmak ve kişisel gelişimlerine katkıda bulunmaktır.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-book"></span>
                        </div>
                        <div class="info">
                            <p></p>
                            <h4><a href="#url">Vizyon</a></h4>
                        </div>
                    </div>
                    <p class="mt-4">
                        Yüksek kaliteli ve güvenilir çevrimiçi kurslara ulaşmak isteyenlere rehberlik etmektir.
                        <br />
                        <br />
                        <br />
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-trophy"></span>
                        </div>
                        <div class="info">
                            <p></p>
                            <h4><a href="#url">Amaç</a></h4>
                        </div>
                    </div>
                    <p class="mt-4">
                        Kullanıcılara yüksek kaliteli ve güvenilir çevrimiçi kurslar sunmak ve onların eğitim ihtiyaçlarını karşılamaktır.
                        <br />
                        <br />

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-aboutblock1 py-5" id="about">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
            <div class="col-lg-6 align-self">
                <span class="title-small mb-2">Hakkımızda</span>
                <h3 class="title-big mx-0">Hoş geldiniz - mevcut tüm çevrimiçi kurslar bir tık uzağınızda</h3>
                <p class="mt-lg-4 mt-3">
                </p>
                <p class="mt-3 mb-lg-5" >
                    Herkesin hayatını kolaylaştırmak ve öğrenmeyi keyifli bir deneyim haline getirmek için buradayız. Geniş bir konu yelpazesine sahip çevrimiçi kurslarımız, her seviyede katılımcıya uygun içeriklerle doludur. Sizler için en iyi öğrenme deneyimini sunabilmek için güvenilir ve uzman eğitmenlerle çalışıyoruz.
                </p>
            </div>
            <div class="col-lg-6 left-wthree-img mt-lg-0 mt-sm-5 mt-4">
                <img src="~/Templates/Vitrin/assets/images/about.jpg" alt="" class="img-fluid radius-image">
            </div>
        </div>
    </div>
</section>
<section class="w3l-servicesblock w3l-servicesblock1 py-5" id="progress">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
            <div class="col-lg-6 align-self pr-lg-4">
                <div class="progress-info info1">
                    <h6 class="progress-tittle">C# <span class="">80%</span></h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"
                             aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info2">
                    <h6 class="progress-tittle">
                        Asp.Net Core <span class="">95%</span>
                    </h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
                             aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info3">
                    <h6 class="progress-tittle">Sql <span class="">90%</span></h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%"
                             aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info4">
                    <h6 class="progress-tittle">Adobe Photoshop <span class="">75%</span></h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%"
                             aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info2 mb-0">
                    <h6 class="progress-tittle">Wordpress <span class="">95%</span></h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
                             aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 pl-lg-4">
                <span class="title-small mb-2">En Çok Satan Kurslar</span>
                <h3 class="title-big">  Popüler Çevrimiçi Kurslarımızda neler var?</h3>
                <p class="mt-md-4 mt-3">
                    Popüler Çevrimiçi Kurslarımız, geniş bir yelpazede eğitim arayışında olanlar için zengin içerikler sunuyor. Teknoloji meraklıları, web geliştirme, veri bilimi, yapay zeka ve siber güvenlik gibi güncel konularda kendilerini geliştirebilecekleri kurslarla buluşuyor. Sanatsal yaratıcılığını geliştirmek isteyenler için grafik tasarım, fotoğrafçılık, video prodüksiyonu ve içerik oluşturma alanlarında eğitim seçenekleri mevcut.
                </p>
                <a href="/VitrinCourse/Index/" class="btn btn-primary btn-style mt-md-5 mt-4">Şimdi Başla</a>
            </div>
        </div>
    </div>
</section>
<section class="w3l-block py-5" id="">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-6 about-right-faq align-self">
                <span class="title-small mb-2">Çevrimiçi Kurs Al</span>
                <h3 class="title-big mx-0">
                    En iyi çevrimiçi kurslarla becerilerinizi geliştirin</h3>
                <p class="mt-lg-4 mt-3 mb-lg-5 mb-4">
                    Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                    ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet elit. Non quae, fugiat
                    libero ut justo, ultrices in ligula amet dolor sit
                </p>
                <div class="two-grids mt-md-0 mt-md-5 mt-4">
                    <div class="grids_info">
                        <h4>Küresel Sertifika</h4>
                        <p class="">
                           
                        </p>
                    </div>
                    <div class="grids_info">
                        <h4>Kitaplar ve kütüphane</h4>
                        <p class="">
                           
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 left-wthree-img mt-lg-0 mt-sm-5 mt-4">
                <img src="~/Templates/Vitrin/assets/images/about1.jpg" alt="" class="img-fluid radius-image">
            </div>
            <div class="col-lg-3 col-6  left-wthree-img mt-lg-0 mt-sm-5 mt-4">
                <img src="~/Templates/Vitrin/assets/images/about2.jpg" alt="" class="img-fluid radius-image">
            </div>
        </div>
    </div>
</section>
<!-- stats -->
<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-5 py-md-4">
        <span class="title-small text-center mb-1">BAŞARILARIMIZ</span>
        <h3 class="title-big text-center mb-5">İlerlememiz asla bitmez</h3>
        <div class="row stats-con">
            <div class="col-md-3 col-6 stats_info counter_grid">
                <p class="counter">500 </p>
                <span class="plus">+</span><br>
                <h3>Kayıtlı Öğrenciler</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid1">
                <p class="counter">56</p>
                <span class="plus">+</span><br>
                <h3>Yüklenen Dersler</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid mt-md-0 mt-4">
                <p class="counter">130</p>
                <span class="plus">k</span><br>
                <h3>Sertifikalı Öğrenciler</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
                <p class="counter">243 </p>
                <span class="plus">+</span><br>
                <h3>Küresel Eğitmenler </h3>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->